#icon-profile {
  position: relative;
  width: 8em;
  bottom: 64px;
  left: 36px;
  border: 4px solid white;
  border-radius: 4em;
}
#icon-profile2 {
  position: relative;
  width: 6em;
  bottom: 40px;
  left: 10px;
  border: 4px solid white;
  border-radius: 4em;
}
#banner-img {
  height: 8em;
}
.box-profile-img {
  height: 12em;
}

.card-main-profile {
  border: 1px solid rgba(195, 193, 193, 0.932);
  box-shadow: 0px 0px 5px 1px #00000021;
  margin-top: 1em;
}

.indirizzo {
  font-size: 0.9em;
  color: #7f7c7c;
  margin-bottom: 0;
}

.link-info {
  font-weight: bold;
}

.number-link {
  font-weight: 500;
}

#btn-message {
  border-radius: 2em;
  background-color: #446cd6;
  width: 8em;
}

#btn-message:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.275);
  transition: all 0.2s linear 0s;
}

#btn-follower {
  background-color: #80808000;
  color: #005efd;
  border: 1px solid #0079ff;
  border-radius: 2em;
}

#btn-follower:hover {
  background-color: #005efd;
  color: white;
  transition: all 0.2s linear 0s;
}

#btn-more {
  background-color: #80808000;
  color: black;
  border: 1px solid black;
  border-radius: 2em;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnHover:hover {
  background-color: #f3f3f3 !important;
  color: black !important;
}
.btnInteressi:hover {
  background-color: #f3f3f3 !important;
  border-width: 2px;
}
.sfondoContainer {
  background-color: #f4f2ee;
}

.imgInteressi {
  width: 100px;
  height: 100px;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  25% {
    opacity: 0;
    transform: translateX(-15px);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animation-start {
  animation: enter 0.5s linear 0s 1 forwards;
}

.all-card {
  border: 1px solid rgba(195, 193, 193, 0.932);
  box-shadow: 0px 0px 5px 1px #00000021;
}

.row-border {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.299);
  background-image: linear-gradient(45deg, #4b474754, transparent);
}
#img-card {
  height: 4rem;
}
.btn-dashed {
  border: 1px dashed #918e8e;
  cursor: pointer;
  border-radius: 6px;
}

.btn-dashed:hover {
  background-color: #d4d2d2; /* effetto hover */
  border: 2px dashed #a39f9f;
  cursor: pointer;
  border-radius: 6px;
}
.premium-color {
  color: #ffb731;
}
