.bg-gray {
  background-color: #f4f2ee;
}
.outline-none {
  outline: none;
}
.icons {
  font-size: 1.5rem;
}
.recolor:hover {
  color: black !important;
}
.link:hover {
  text-decoration: underline !important;
}
.bl {
  border-left: gray;
}
.prova {
  color: #9d702c;
}
.pointer {
  cursor: pointer;
}
.b-top {
  border: top;
  border-top: gray;
}
.a-link {
  text-decoration: none;
}
.a-link:hover {
  text-decoration: underline;
}
.a-link2 {
  text-decoration: none;
}
.a-link2:hover {
  color: blue !important;
}
.btn-post {
  background-color: white;
}
.btn-post:hover {
  background-color: rgb(231, 228, 228);
}
.btn-user {
  background-color: transparent;
  border: none;
}
.btn-user:hover {
  background-color: rgb(231, 228, 228);
}
.btn-news {
  background-color: rgb(209, 207, 207);
}
